<div class="wrapper">
  <section class="what">
  <div class="container flex">
    <div class="text">
      <p>Statewide Roofing is an energetic Queensland company that prides itself on high quality. The standards apply to all we do, from customer service to the tidy and timely finish of projects, however large or small.</p>
      <p>Experience the best you can ask for from the moment you make first contact. You are the reason our business exists. Your satisfaction is paramount to us.</p>
    </div>
  </div>
  </section>
</div>
