<div class="testimonial">
    <div class="wrapper">
      <blockquote class="card big">
        <div class="author">
          <p>
            <span class="name">{{ include.case.testimonial.name }}</span>
            <span class="location">{{ include.case.testimonial.location }}</span>
          </p>
        </div>
        <div class="photo"><img class="lozad" data-src="{{ include.case.testimonial.image_path }}" data-alt="photo example of work by {{ site.title }} at {{ include.case.testimonial.location }}" alt="photo example of work by {{ site.title }} at {{ include.case.testimonial.location }}"></div>
        <div class="quote">
          {{ include.case.testimonial.text_markdown | prepend: "&ldquo;" | append: "&rdquo;" | markdownify }}
        </div>
      <div class="image"><img class="lozad" data-src="{{ include.case.logo_path }}" width="150px" data-alt="{{ include.case.name }} logo" alt="{{ include.case.name }} logo"><noscript><img src="{{ include.case.logo_path }}" width="136" height="136" alt="{{ include.case.name }} logo"></noscript></div>
      </blockquote>
    </div>
</div>
≈
