body {margin:0; padding:0; background:#000000;}
table, td {border-collapse:collapse;}
table, td, img {border:0;}
form, td {margin:0; padding:0;}
td, tr {
	font:11px/12px arial, tahoma, helvetica, sans-serif;
	color:#555444B;
	vertical-align:top;
	text-align:left;
	line-height: normal;
}


.r1 ul { margin:0; padding:0; list-style:none;}
.r1 li { background:url(images/r1.gif) top left no-repeat; margin:15px 0 0 0; padding:0 0 0 14px; font-size:12px; line-height:15px; }
.r1 li a {color:#B10000; text-decoration:underline;  background-position:left center;}
.r1 li a:hover { text-decoration:none; color:#B10000;}

.r2 ul { margin:0; padding:0; list-style:none;}
.r2 li { background:url(images/r2.gif) top left no-repeat; margin:0 0 0 0; padding:0 0 0 7px; font-size:11px; line-height:18px; }
.r2 li a {color:#E2C0BA; text-decoration:underline;  background-position:left center;}
.r2 li a:hover { text-decoration:none; color:#E2C0BA;}


.rez1{background:url(images/rez_1.jpg) top right repeat-x; width:100%; height:299px;}
.top1{ background: #B0AB85 url(images/top1.jpg) top left repeat-x; width:100%; height:49px;}
.top1 table{margin:20px 0 0 27px;}
.top1 td{ color:#FFFFFF;}
.top1 td a{ color:#FFFFFF; text-decoration:none}
.top1 td a:hover{ color:#FFFFFF; text-decoration:underline}
.top1 td span{ color:#000000}
.top2{ width:100%; height:1px; background:#CECCBD;}
.top3{height:241px;}
.top3 table{height:100%;}
.top4{background:url(images/a1.jpg) top left no-repeat; width:274px; height:245px;}
.top4 img{margin:102px 0 0 52px;}
.top5{background:url(images/a2.jpg) top left no-repeat; width:492px; height:245px;}
.top5 img{margin:213px 0 0 403px;}
.top6{height:54px; padding:19px 0 0 27px;}

.end{height:67px; padding:20px 0 0 23px; color:#808080; font-family:arial; line-height:15px;}
.end a{ color:#808080; text-decoration:none}
.end a:hover{ color:#808080; text-decoration:underline}

.txt1 td{ color:#E2C0BA;}
.txt1 td a{ color:#E2C0BA; text-decoration:underline}
.txt1 td a:hover{ color:#E2C0BA; text-decoration:none}

.txt2 td{
	color:#55544B;
	font-size: 16px;
}
.txt2 td a{ color:#AA0000; text-decoration:underline}
.txt2 td a:hover{ color:#AA0000; text-decoration:none}
.txt2 td span a{ color:#55544B; text-decoration:underline}
.txt2 td span a:hover{ color:#55544B; text-decoration:none}



body 
{
	text-align: center;
	margin: 20px;		/* shift whole page down by 25 pixels */
	background-color: #000000;
}


#mainForm 
{
	position: relative;
	border: 1px;
	border-style: solid;
	margin: 0 auto;
	text-align: left;
	width: 70%;
	background-color: #CECCBD;
}

ul.mainForm
{
	list-style-type: none;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-size:15px;	
}

li.mainForm
{
	padding-bottom: 10px;
}


#mainFormError
{
	position: relative;
	border: 1px;
	border-style: solid;
	margin: 0 auto;
	text-align: left;
	width: 70%;
}



input.mainFormError
{
	background-color: #FADADD;
}


textarea.mainFormError
{
	background-color: #FADADD;
}


select.mainFormError
{
	background-color: #FADADD;
}


#formHeader
{
	position: relative;
	width: 100%;
	background-color: #03722F;
	margin:0 0 0 0;
	padding-bottom: 10px;
}

p.formHeader
{
	text-align: right;
	margin:0 0 0 0;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-weight:normal;
	color: #CECCBD;
	font-size:25px;
	position:relative;
	left:-5px;
	top:4px;
	letter-spacing: 2px;
}



#formInfo
{
	position: relative;
	width: 100%;
	background-color: #55544B;
	margin:0 0 0 0;
}

h2.formInfo
{
	text-align: left;
	margin:0 0 0 0;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-weight:normal;
	font-size:20px;
	position:relative;
	left:20px;
	top:0px;
	letter-spacing: 1px;
	line-height:150%;
	color: #CECCBD;
}


p.formInfo
{
	text-align: left;
	margin:0 0 0 0;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-weight:normal;
	color: #000000;
	font-size:12px;
	position:relative;
	left:20px;
	top:0px;
	color: #CECCBD;
}

#formFields
{
	position: relative;
	width: 100%;
	background-color: #ffffff;
	margin:0 0 0 0;

}

label.formFieldQuestion
{
	line-height:125%;
	padding:0 4px 1px 0;
	border:none;	
	display:block;
	font-size:95%;
	font-weight:bold;
}

label.formFieldOption
{
	font-size:90%;
	display:block;
	line-height:1.0em;
	margin:-19px 0 0 25px;
	padding:4px 0 5px 0;
	width:90%;
}



input.formFieldStyle
{
	display:block;
	line-height:1.4em;
	margin:8px 0 0 3px;
	width:13px;
	height:13px;
}


/* tooltip */
a.info {
	font-family: Tahoma, Arial, Sans-Serif;
	text-decoration:none; 
	position: relative;
}

a.info span {
	position: relative;
	display:none;
}

a.info:hover {
	position: relative;
	cursor:default;
}

a.info:hover .infobox {
	font-weight: normal; 
	display:block; 
	position:absolute; 
	top:20px;;
	left:25px;
	width:205px; 
	height:70px; 
	border: 1px solid #ccc; 
	background:#f4f4f4 url(question.gif) no-repeat bottom right; 
	color:#000; 
	text-align:left; 
	font-size:0.7em; 
	padding-left:10px; 
	padding-top:10px;
}

/* pop-up calendar */
button.calendarStyle
{
	background-color: transparent;
	border: 0;
	height:22px;
	width:22px;
	background-image:url(imgs/calendar.png);
	cursor: pointer;
	cursor: hand;
}


p.footer
{
	text-align: right;
	margin:0 0 0 0;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-weight:normal;
	color: #CECCBD;
	font-size:9px;
	position:relative;
	top:4px;
	left:-140px;
	letter-spacing: 2px;
}

a.footer
{
	text-align: right;
	margin:0 0 0 0;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-weight:normal;
	color: #CECCBD;
	font-size:9px;
	position:relative;
	top:4px;
	letter-spacing: 2px;
}
