.toastify {
    padding: 12px 20px;
    color: $light-shade;
    display: inline-block;
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(77, 96, 232, 0.3);
    background: -webkit-linear-gradient(315deg, #73a5ff, #5477f5);
    background: linear-gradient(135deg, #73a5ff, #5477f5);
    position: fixed;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    max-width: calc(50% - 20px);
    z-index: 5;
}
.toastify.on {
    opacity: 1;
}
.toast-close {
    opacity: 0.4;
    padding: 0 5px;
}
.right-alert {
    right: 15px;
}
.top {
    top: -150px;
}
.bottom {
    bottom: -150px;
}

@media only screen and (max-width: 360px){
    .right-alert, .left-alert{
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        max-width: fit-content;
    }
}

/* Offline chip animation message */

.offline-ready {
  // background: #000;
  // padding: 15px;
  // text-align: center;
  // position: absolute;
  // bottom: 0;
  // visibility: hidden;
  // opacity: 0;
  // left: 50%;
  // -webkit-transform: translate(-50%);
  //         transform: translate(-50%);
  // color: #58d2c3;
  // width: 100%;

  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */

  @media only screen and (max-width: $tablet-min) {
    width: 100%;
    bottom: 0;
    left: 0;
    margin-left: 0;
  }

  &.active {
    visibility: visible; /* Show the snackbar */

    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 2s, fadeout 2s 3.5s;
    animation: fadein 2s, fadeout 2s 3.5s;
  }
}
