.footer-links {
	width: 100%;
	margin: 10px;
	padding: 0;

	@media #{$tablet} {
		-webkit-flex: 1 0 $footer-links-width;
		flex: 1 0 $footer-links-width;
	}

	li {
		list-style: none;
    margin: 15px 20px;

		@media #{$tablet} {
			max-width: $footer-links-width;
		}
		a {
      display: inline !important;
			&:hover {
        text-decoration: none;
        color: #fff;
			}
			svg {
				display: inline !important;
				fill: currentColor;
				margin-right: 10px;
				transition: fill 0.2s ease;
				vertical-align: text-bottom;
				position: relative;
			}

			&:hover svg {
				fill: $dark-shade;
			}
			&.Facebook-icon:hover svg {
				fill: #365899;
			}

			&.Twitter-icon:hover svg {
				fill: #55acee;
			}

			&.Google-Plus-icon:hover svg {
				fill: #db4437;
			}

			&.Youtube-icon:hover svg {
				fill: #cd201f;
			}

			&.instagram-icon:hover svg {
				fill: #f167f5;
			}

			&.linkedin-icon:hover svg {
				fill: #0077b5;
			}

			&.pinterest-icon:hover svg {
				fill: #bd081c;
			}

			&.rss-icon:hover svg {
				fill: #f26522;
			}
		}
	}
}

footer {
	padding: 50px 0 50px 0;
	font-size: 1.1em;
	position: relative;
	background: $dark-shade;
	color: $footer-color;

	.copyright {
		font-size: .8em;
		margin: 0 auto;

		@media #{$tablet} {
			text-align: center;
		}

	}

	&,
	a, h2 {
		color: $footer-color;
	}

	h2 {
		font-size: 1.4em;
		margin: 0 0 30px 0;
	}

	.footer-columns {
		@extend %flexbox;
		@include flex-flow(wrap);
    margin: -10px -10px 10px -10px;
  }
}
