::-webkit-input-placeholder, // Chrome
:-ms-input-placeholder { // IE 10+
	color: $placeholder-color;
}

::-moz-placeholder, // Firefox 19+
:-moz-placeholder { // Firefox 4 - 18
	color: $placeholder-color;
	opacity: 1;
}

input,
textarea {
	-webkit-appearance: none;
}

a.button,
input[type="submit"] {
	padding: 18px $half-space;
	display: inline-block;
	border-radius: $border-radius;
	background: $brand-color;
	color: #fff;
	border: 0;
	transition: $transition-duration background-color ease, $transition-duration color ease;
	cursor: pointer;

	&:hover,
	&.light.dark-hover:hover {
		background-color: $dark-accent;
	}

	&.keep-text-size {
		font-size: inherit;
	}

	&.no-side-padding {
		padding-left: 0;
		padding-right: 0;
	}

	&.no-padding {
		padding: 0;
	}

	&.no-hover {
		&,
		&.light,
		&.dark {
			&:hover {
				background: none;
			}
		}
	}

	&.no-border {
		&,
		&.light {
			border-color: #fff;
    }
	}

	&.dark {
    background: $brand-color;
    color: #fff;
		border: 1px solid $brand-color;

		&.brand {
			background: $brand-color;
		}

		&:hover {
      background: $dark-accent;
      color: #fff;
		}

		&.no-border {
      border: 0;
    }
    &.no-border-radius {
      border-radius: 0;
    }
	}

	&.dark-blue {
		background-color: $cta-background-color;

		&:hover {
			background: $brand-color;
		}
	}

	&.shadow {
		box-shadow: $large-box-shadow;
	}

	&.light {
		background: #fff;
		color: $brand-color;
		border: 1px solid $brand-color;

		&:hover {
      color: $brand-color;
			background-color: #e8f2fc;
		}
	}
}

a.button+a.button.alt {
  display: block;
  margin: 30px auto;
  width: fit-content;

	@media #{$mid-point}{
		display: inline-block;
		margin-left: 20px;
		margin-top: 0;
	}
}

.toggle-buttons {
	display: inline-block;
	margin: 0 auto;
	background: #fff;
	box-shadow: $medium-box-shadow;
	border-radius: $border-radius;

	.button {
		padding-left: 30px;
		padding-right: 30px;
		border-radius: 0;

		&:first-child {
			border-top-left-radius: $border-radius;
			border-bottom-left-radius: $border-radius;
		}

		&:last-child {
			border-top-right-radius: $border-radius;
			border-bottom-right-radius: $border-radius;
		}

		&.selected,
		&.selected:hover {
			background-color: $cta-background-color;
			color: #fff;
		}
	}
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	padding: 16px;
	outline: 0;
	border-radius: $border-radius;
	border: 1px solid $plain-border-color;
	font-size: 1rem;
	box-sizing: border-box;
}

.form-icon {
	position: relative;

	i.material-icons {
		color: $form-icon-color;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 20px;
		font-size: 19px;
	}

	input[type="text"],
	input[type="email"] {
		padding-left: 54px;
	}
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

textarea {
	resize: none;
}

.go-away {
  margin-bottom: 40px;
}
