.legal.wrapper {
  padding-top: 0;
}

ol.terms, ul.terms {
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: normal;

    ol.terms, ul.terms {
        font-size: 100%;
        margin-bottom: 20px;
        font-weight: normal;
        -webkit-padding-start: 0px;
    }
}

ol {
    counter-reset: item;
    -webkit-padding-start: 20px;

}

ol > li {
    counter-increment: item;
}

ol ol > li {
    display: block;
}

ol ol > li:before {
    content: counters(item, ".") ". ";
    margin-left: -20px;
}

