.logo {
	line-height: 0;
	text-align: left;

	svg {
		height: 25px;
		margin: 7px 0;
		fill: currentColor;
	}

	span {
		display: none;
	}
}

header.landing,
header.short {
	text-align: center;

	&,
	a {
		color: $cta-background-color;
	}
}

header.plain  {
	background: #fff;
	border-bottom: 1px solid $plain-border-color;

	.nav-bar.wrapper {
		.logo svg {
			fill: currentColor;
		}

		a,
		a.button {
			color: $cta-background-color;
		}

		#open-nav {
			svg {
				fill: currentColor;
			}
		}
	}
}
nav.right > svg {
  fill: currentColor;
}
.nav-bar.wrapper {
	padding-top: 20px;
	padding-bottom: 20px;
	.logo a {
		display: inline-block;
	}

	a {
		text-decoration: none;
		white-space: nowrap;
		display: block;
	}

	.main,
	.right {
		display: none;
		text-align: right;

		a {
      padding: 20px 0;
      transition-duration: 0.15s;
    &:hover {
      color: $dark-accent;
    }
    svg,
    svg:hover {
      fill: currentColor;
    }
		}
	}

	.main {
		flex: 1;
		margin-top: 20px;

		a {
			transition-duration: 0.2s;

			&:hover {
				color: $dark-accent;
			}
		}
	}
}

#open-nav {
	text-align: right;
	display: block;
	float: right;
	margin-top: 7px;
}

.nav-open .nav-bar.wrapper .main,
.nav-open .nav-bar.wrapper .right {
	display: block;
}

@media only screen and (max-width: $desktop-min - 1) {
	.nav-bar.wrapper .right .button {
		background: none;
		text-align: right;
		text-transform: none;
		border: 0;

		&.dark:hover {
			color: #fff;
		}

		&.light:hover {
			color: $brand-color;
		}
	}
}

@media only screen and (min-width: $desktop-min) {
	#open-nav {
		display: none;
	}

	.nav-bar.wrapper {
		display: flex;

		& > .logo,
		& > .main,
		& > .right {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
		}

		.main {
			margin-top: 0;
			flex: 1;
			text-align: center;
		}

		.main,
		.right {
			display: flex;

			a {
				display: inline;
				text-align: center;
				padding: 5px 20px;

				&.button {
					padding-top: 1em;
					padding-bottom: 1em;
				}
			}
		}

		.right a {
				opacity: 1;
			}
		}

	header.landing,
	header.short {
		.nav-bar.wrapper .right a {

      &:hover {
        color: $dark-accent;
      }

			.button {
				border-color: rgba(255, 255, 255, $text-opacity);
			}
		}
	}

	header.plain .nav-bar.wrapper .right a {
		color: $cta-background-color;

    &:hover,
    &.button:hover {
			color: $brand-color;
    }

    &svg:hover {
      fill: currentColor;
    }
	}
}

#open-nav > svg {
  fill: currentColor;
}

div.secondary-nav-bar{
  display: block;
  .right {
    float: right;
    display: flex;
    flex-wrap: wrap;
  }
  a {
    padding: 5px 10px 20px;
    display: inline;
    text-align: center;
    @media only screen and (min-width: $desktop-min) {
      padding: 5px 20px;
    }
  }

}
