/* Common styles */

.pricing {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	width: 100%;
  margin: 0;
  margin-bottom: 40px;
}

.pricing-section {
	padding: 20px 0 0 0;
}

.pricing-item-section {
	height: 100%;

}

@media (min-width: 694px) {
	.pricing-item-section {
		height: 475px;
	}
}

/* Individual style */
/* norbu */
.pricing-item {
	margin: 10px;
	color: $text-color;
	cursor: default;
	border: 1px solid $light-shade;
	background: $cards-background-color;
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: stretch;
	align-items: stretch;
	text-align: center;
	-webkit-flex: 1 1 100%;
}

@media #{$tablet}{
	.pricing-item {
		-webkit-flex: 0 1 100%;
	}
}

@media #{$mid-point}{
	.pricing-item {
	-webkit-flex: 0 1 30%;
	}
}

.pricing-item.single {
	padding-top: 15px;
}

.pricing-title {
	font-size: 1.3em;
	font-weight: 600;
	margin: 0 auto;
	position: relative;
  padding: 15px 15px 10px;
}

.pricing-price {
	font-size: 3.5em;
	font-weight: 400;
	position: relative;
	z-index: 100;
	line-height: 0.6em;
	color: $brand-color;
}

.pricing-currency {
	font-size: 0.5em;
	font-weight: 500;
	vertical-align: super;
}

.pricing-period {
	font-size: 0.25em;
	display: inline;
    font-weight: 500;
    margin-left: 0;
}

.pricing-feature-list {
	font-size: 1.1em;
	margin: 10px 15px;
	letter-spacing: 0;
	padding: 0;
	list-style: none;
	text-align: left;
}

.pricing-feature {
	border-bottom: 1px solid rgba(0,0,0,0.15);
    text-align: left;
	padding: 13px 4px;
}
li.pricing-feature:last-child {
	border-bottom: 0;
}

.pricing-feature::before {
	display: inline-block;
	vertical-align: middle;
	padding: 0 0.75em 0 0;
}

.cta.button.pricing a {
	width: 100%;
	padding: 20px 10px;
	margin: 0;
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after {display: table;  content: ''; }
.clearfix:after { clear: both; }

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

.pricing-item ul li img {
	display: inline;
	vertical-align: middle;
	margin-right: 10px;
}

.faq {
	@media #{$desktop} {
		@include columns(2);
	}
	div {
		break-inside: avoid;
		padding: 25px 0;
	}

	dt {
		font-weight: bold;
		margin: 0 0 5px 0;
	}

	dd {
		padding: 0;
		margin: 0;

	}
}

.grid2col {
	width: 100%;
}

.column {
    float: left;
}

.column.first, .column.last {
	margin-left: 0 !important;
}

.column.first .pricing-item {
	margin-left: 0px;
}

.grid2col .column.first {
	width: auto;
}

.grid2col .column.last {
    width: auto;
}

@media (min-width: 700px){
	.grid2col .column.first {
		width: 450px !important;
	}
	.grid2col .column.last {
		width: 270px !important;
	}
}
@media #{$large-desktop}{
	.grid2col .column.first {
		width: 590px !important;
	}
	.grid2col .column.last {
		width: 270px !important;
	}
}

.column.last {
    float: right !important;
}

.column.last h3{
	margin: 0;
	margin-bottom: 6px;
	font-size: 1.3em;
}
.grid2col .column.last p {
	margin-bottom: 5px;
	font-size: 1.1em;
}

.last {
    margin-bottom: 0;
}

#container:after, #content:after, .grid2col:after, .grid2cola:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.support-plan-upgrade {
	padding: 20px 25px;
	color: $text-color;
	cursor: default;
	margin: 1em;
	margin-left: 0;
	border: 1px solid #e0e0e0;
	border-bottom: 2px solid #e0e0e0;
}

.rounded {
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.column.first .left {
	text-align: left;
}

.list-items {
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 927px;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
	margin: 0 auto 40px;
}

.list-items>li {
  background-size: 20px 28px;
	padding-left: 28px;
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 18px 26px;
  padding-left: 26px;
	margin-bottom: 10px;
  line-height: 1.55555556;
  list-style-type: none;
}

.list-items li {
    width: 48%;
	font-size: 1.1em;
}

// On Demand
section.on-demand-support {
  padding: 0;
  margin-bottom: 50px;
}
