.testimonial {
	background: $testimonial-background-color;

	blockquote {
		margin: 0;
		box-shadow: $large-box-shadow;
	}

	.author {
		display: flex;
		align-items: center;
		margin-bottom: 1em;

		img {
			border-radius: 50px;
			max-width: none;
		}
    img + p {
      padding: 0 0 0 20px;
    }

		p {
			padding: 0;
			margin: 0;
    }

		span {
			display: block;
			line-height: 1.5;
		}

		.name {
			font-size: 1.2rem;
			font-weight: 700;
		}

		.title {
			color: $cta-background-color;
			font-size: $font-smaller;
		}
	}

	.quote {
		font-size: 1.4rem;
    font-style: italic;
    margin-bottom: 1.5rem;
	}

	svg {
		height: 25px;
		margin-top: 1em;
	}

	.view-button {
		display: none;
		text-align: center;

		.button {
			color: $brand-color;
			background: rgba(0, 0, 0, 0);
		}
	}
}
