////////////////
// Cloudcannon
//
html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  font-family: $font-display-family;
  font-weight: 200;
}

h1 {
	font-size: 2.2rem;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.6rem;
}

h4 {
	font-size: 1.4rem;
}

.big-text {
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 1.5;
}

h3.legal {
  padding-top: 30px;
}

@media only screen and (min-width: $tablet-min) {
	h1 {
		font-size: 1.9rem;
	}

	h2 {
		font-size: 1.9rem;
	}

	.big-text {
		font-size: 2rem;
	}
}

@media only screen and (min-width: $desktop-min) {
	h1 {
		font-size: 2.5rem;
	}

	h2 {
		font-size: 2rem;
	}

	.big-text {
		font-size: 2.3rem;
	}
}

p,
ul,
li {
	font-size: $font-size-content;
	line-height: 1.8em;
}

p,
ul,
ol,
blockquote,
figure,
h1,
h2,
h3,
h4 {
	@extend .vertical-flow;
}

body,
input,
textarea,
select {
	font-family: $font-family;
	color: $text-color;
	font-weight: 400;
}

code {
	word-break: break-word;
}

/////////////
// IT Solver
//
sup {
	font-size: $font-smallest !important;
    bottom: 0.6em;
    line-height: 9px;
    font-weight: normal !important;
    vertical-align: baseline;
    position: relative;
    bottom: 0.33em;
	position: static !important;
}

ul {
  list-style-type: none;
}

.subtitle {
  font-size: $font-size-content;
  line-height: 1.7rem;
}

a.button,
input[type="submit"] {
  font-family: $font-display-family;
  font-size: $font-smaller;
  font-weight: 600;
  text-decoration: none;
	text-transform: uppercase;
  text-align: center;
  letter-spacing: $uppercase-letter-spacing;
}

.nav-bar.wrapper {
  font-size: $font-normal;
}

.nav-bar.wrapper .right {
  font-weight: inherit;
}

div.secondary-nav-bar nav.right a {
  font-size: $font-small;
}
